body {
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: white;
    border-bottom: 1px solid lightgray; 
  }
  .container {
    width: 80%;
    margin: auto; 
  }

  .container-left {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logo {
    margin-right: 5px;
    float: left;
  }
  .logo img { 
    display: block; 
  }
  .menu-left {
    float: left; 
  }
  .menu-left-item {
    color: black;
    font-size: 16px;
    padding: 10px 10px 8px 10px; 
    float: left; 
    line-height: 1;
    text-decoration: none  
}
  .menu-right {
    float:right;
  }  

  .menu-right-item {
    font-size: 16px;
    padding: 10px 10px 8px 10px; 
    float: right;
    cursor:pointer;
  }  
  .menu-right .menu-right-item.button {
    border: 1px solid black;
    border-radius: 8%;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }